#board {
    border: 10px solid black; 
    height: 300px; 
    width: 300px; 

    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

.square {
    font-size: 4rem;
    border: 4px solid black; 
}